<div class="page">
  <form class="new-recipe-form">
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="title" placeholder="Recipe Title" value="" name="recipeTitle">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="description" name="description" >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Ingredients</mat-label>
      <textarea matInput [(ngModel)]="ingredients" name="ingredients" matTextareaAutosize matAutosizeMinRows=5
        matAutosizeMaxRows=10></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Directions</mat-label>
      <textarea matInput [(ngModel)]="directions" name="directions" matTextareaAutosize matAutosizeMinRows=5
        matAutosizeMaxRows=10></textarea>
    </mat-form-field>

    <button mat-stroked-button (click)="addRecipe()">Add Recipe</button>
  </form>
</div>