// w3DS colors

$black: #000;
$blue-1: #edf3f7;
$blue-5: #367aa3;
$blue-6: #00598a;
$blue-8: #002236;
$contextual-blue-2: #b7e2fb;
$contextual-blue-3: #24afff;
$contextual-blue-5: #0370b0;
$contextual-red-3: #dd2113;
$contextual-yellow-1: #fdf0bf;
$neutral-1: #fdfdfd;
$neutral-2: #f3f3f3;
$neutral-3: #e2e2e2;
$neutral-4: #d1d1d1;
$neutral-5: #ababab;
$neutral-6: #757575;
$neutral-7: #555;
$neutral-8: #232323;
$neutral-cool-2: #eff1f1;
$neutral-cool-4: #d0d4d6;
$neutral-cool-7: #535b60;
$white: #fff;
