.navbar {
    height: 45px;
    background-color: #333;
    display: flex;
    padding:0;
    justify-content: flex-end;
}

.left {
    margin-right:auto;
}

.navbar li {
    color:#999;
    padding:15px;
}

.navbar .fa-bars {
    size: 2x;
}

.navbar .logout {
    cursor: pointer;
}
